{
  "extends": "gsandf-react",
  "rules": {
    "comma-dangle": ["error", "always-multiline"],
    "react/prop-types": "off",
    "semi": ["error", "never"]
  },
  "settings": {
    "react": {
        "pragma": "h"
    }
  }
}